/* Created by: Samuel Carlson
* Created on: May 2022
* This CSS file defines the style for index.html
* ICS2O-Unit5-01-HTML-ProductOfNumbers
*/

body {
	background-color: Red;
}

h1 {
	background-color: rgb(255, 127, 80);
	color: hsl(145, 63%, 32%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #DC143C;
}